.checkout{
    
    
    background-color: white;
    height: max-content;
}
.checkout_ad{
    width: 100%;
    margin-bottom:0px;

}
.checkout_total{
    display: flex;
    padding: 20px;

    
}
.checkout_left{
   width:70%;
}
.checkout_title{
    margin-right:10px;
    padding:10px;
    border-bottom: 1px solid lightgray;
}
.checkout_right{
    background-color: lightgrey;
    width:30%;
}